# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Bỏ qua file cấu hình cá nhân
.env

# Bỏ qua file của GitLab CI/CD
.gitlab-ci

# Bỏ qua file tài liệu không cần thiết
Nhom_DA04.xlsx
FinalReport.docx
FinalReport.pdf

# Chỉ giữ một file lock (nếu dùng npm thì bỏ yarn.lock, ngược lại)
package-lock.json
yarn.lock
